__pycache__/
*.pyc

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.coverage*
coverage*
htmlcov
report.xml
.mypy_cache
.pytest_cache
